body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f2d33;
  color: #333;
}

input {
  width: 250px;
  padding: 10px;
  margin: 6px 0;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px 18px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  background: #caa46a;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

h1,h2 {
  color: white;
}

.card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
}

img {
  border-radius: 10px;
}

.auth-box {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
